
body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-size: 100%;
    margin: 0;
}
.bodylow{
    background-color: #fff;
    background-size: 100%;
}
header{
    background-color: #f2f2f2;
    background-size: 100%;
}
.header{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
.title {
    color: #20a8b4 ;
    margin-top: 10px;
    margin-bottom: inherit;
    margin: 5px
}
.code{
    color: #ff5c0f;
}
.navigation{
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 10px;
    align-items: stretch;
    flex-direction: column;
    font-size: 20px;
    color: #000;
}

.li{
    width: 200px;
    text-align: left;
    padding: 10px;
}
#button{
    padding-bottom: 10px;
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
a:visited{
    color: #000;
}
a:hover{
    color: #ff5c0f;
}
button{
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    background-color: #20a8b4;
    color: white;
    font-size: 20px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
button:hover{
    background-color: #ff5c0f;
}
.div{ 
    cursor: default;
    margin: 10px;
    background-color: #fff;
    background-size: inherit;
    padding-top: 100px;
}
.learningtocode {
    color: #ff5c0f;
}
img{
    display: none;
}
@media screen and (min-width: 768px) {
    nav{
        display: flex;
        flex-direction: row;
        
    }
    .navigation{
        flex-direction: row;
    }
    button{
        width: auto;
        align-items: flex-end;
    }
    .button{
        align-items: flex-end;
    }
    .button1{
        align-items: start;
        margin: 0;
    }
    li {
        width: 50px;
        text-align: center;
        padding: 10px; 
    }
    img{
        display: flex;
        height: 300px;
        float: right;
        width: 50%;
        align-items: flex-end;
    }
  }